body {
    margin: 0;
    overflow: hidden;
    background-color: #f7f7f7;
}

.game-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f7f7f7;
}

.dino {
    width: 50px;
    height: 50px;
    background-color: #666;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.obstacle {
    width: 20px;
    height: 50px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
}
